body{
    margin: 0;
}

.header{
    width: 100%;
    height: 276px; 
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);  
}

.header-top{
    width: 100%;
    height: 40px;
    background-color: #42A2D6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-top-block{
    width: 1169px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-top-block-mail{
    width: 123px;
    height: 15px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      
}
.header-top-block-mail-block{
    font-family: FranklinGothicMediumC;
    font-size: 14px;
    line-height: normal;
    color: #FFFFFF; 
    
}
.header-top-block-socnet{
    width: 77px;
    height: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;      
}

.header-center{
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.header-center-block{
    width: 1171px;
    height: 118px;
    margin-top: 23px;    
    display: flex;
}
.header-center-block-logo{
    width: 390.33px;
    height: 118px;
    
}
.header-center-block-profclean{
    width: 390.33px;
    height: 118px;        
    display: flex;
    align-items: flex-end;
    padding-left: 83px;
}
.header-center-block-profclean-text{
    font-family: FranklinGothicBookC;
    font-size: 25px;
    line-height: 33px;
    color: #4D4D4D;
}
.header-center-block-numbers{
    width: 390.33px;
    height: 118px;    
    display: flex;    
    flex-direction: column;
    align-items: flex-end;
    padding-top: 9.5px
}
.header-center-block-numbers-block{
    width: 199px;
    height: 15.5px;   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 25.5px;
    
}
.header-center-block-numbers-block span{
    font-family: FranklinGothicMediumC;
    font-size: 17px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 10px;
}

.header-bottom{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-bottom-block{
    width: 778px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-bottom-block a{
    font-family: FranklinGothicDemiC;
    font-size: 18px;    
    line-height: normal;
    color: #4D4D4D;
    text-decoration: none;
}
.header-line{
    height: 1px;
    position: absolute;
    width: 1919px;
    height: 1px;
    left: 0px;
    top: 216px;
    background: rgba(77, 77, 77, 0.1);
}


.banner{
    width: 100%;
    height: 566px;
    background: linear-gradient(118.57deg, rgba(0, 0, 0, 0.25) -26.25%, 
    rgba(0, 0, 0, 0.0438248) 47.56%, 
    rgba(0, 0, 0, 0) 63.48%), 
    url(./img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;       
    
}
.banner-block{
    width: 1479.65px;
    height: 315px;   
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;   
    margin-top: 148px;     
}

.banner-block h1{
    font-family: FranklinGothicDemiC;
    font-size: 56px;
    line-height: 73px;
    
    color: rgb(255, 255, 255);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}
.banner-block p{
    
    font-family: FranklinGothicBookC;
    font-size: 20px;
    line-height: normal;
    color: #E5E5E5;    
}
.banner-block input{
    width: 308.16px;
    height: 54px;
    background-color: #42A2D6;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0px;
    margin-top: 33px;
    
    font-family: FranklinGothicDemiC;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.banner-block input:hover{
    background-color: #E95B99;
}


.services{  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.services-block{
    width: 1101px;
    height: 861px;
    background-color: rgb(253, 253, 253);
    margin-top: 57px;
}
.services-header{
    width: 1101px;
    height: 139px;
    display: flex;
    justify-content: center;
}
.service-header-block{
    width: 350px;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.service-header-block h1{
    font-family: FranklinGothicDemiC;
    font-size: 35px;
    line-height: 24px;
    color: #4D4D4D; 
    margin: 0;
}
.service-header-block div{
    width: 110px;
    height: 3px;
    background: #42A2D6;
}

.service-buttons-top{
    width: 1101px;
    height: 163px;
    display: flex;
    justify-content: center;
}
.service-buttons-top-block{
    width: 821px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}
.service-buttont{
    width: 368px;
    height: 54px;   
    border: 1px solid #E95B99;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.service-button-left input{
    width: 368px;
    height: 54px;
    background-color: #E95B99;
    border: 1px solid #E95B99;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-family: FranklinGothicDemiC;
    font-size: 18px;
    line-height: 27px;
    color: white;
}
.service-button-right input{
    width: 368px;
    height: 54px;
    background-color: white;
    border: 1px solid #E95B99;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-family: FranklinGothicDemiC;
    font-size: 18px;
    line-height: 27px;
    color: #E95B99;
}
.service-button-right input:hover{
    background-color: #E95B99;
    color: white;
    border-radius: 100px;
}


.service-tabs-block{
    width: 1101px;
    height: 505px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.service-tabs{
    width: 245px;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    
}
.service-tabs-text{
    font-family: FranklinGothicDemiC;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #4D4D4D;
}
.service-tabs-img1{
    width: 85px;
    height: 95px;
    background: url(./img/ремонт.png);
    background-repeat: no-repeat;
    background-size: cover;      
}
.service-tabs:hover .service-tabs-img1{
    width: 85px;
    height: 95px;
    background: url(./img/ремонтрозовый.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.service-tabs-img2{
    width: 115px;
    height: 95px;
    background: url(./img/service/уборкаc.png);
    background-repeat: no-repeat;
    background-size: cover;      
}
.service-tabs:hover .service-tabs-img2{
    width: 115px;
    height: 95px;
    background: url(./img/service/уборка.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.service-tabs-img3{
    width: 115px;
    height: 95px;
    background: url(./img/service/пылесос.png);
    background-repeat: no-repeat;
    background-size: cover;      
}
.service-tabs:hover .service-tabs-img3{
    width: 115px;
    height: 95px;
    background: url(./img/service/пылесос-р.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.service-tabs-img4{
    width: 125px;
    height: 95px;
    background: url(./img/service/окна.png);
    background-repeat: no-repeat;
    background-size: cover;      
}
.service-tabs:hover .service-tabs-img4{
    width: 125px;
    height: 95px;
    background: url(./img/service/окна-р.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.service-tabs-img5{
    width: 115px;
    height: 95px;
    background: url(./img/service/ковер.png);
    background-repeat: no-repeat;
    background-size: cover;      
}
.service-tabs:hover .service-tabs-img5{
    width: 115px;
    height: 95px;
    background: url(./img/service/ковер-р.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.service-tabs-img6{
    width: 115px;
    height: 95px;
    background: url(./img/service/диван.png);
    background-repeat: no-repeat;
    background-size: cover;      
}
.service-tabs:hover .service-tabs-img6{
    width: 115px;
    height: 95px;
    background: url(./img/service/диван-р.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.service-tabs-img7{
    width: 115px;
    height: 95px;
    background: url(./img/service/Дом.png);
    background-repeat: no-repeat;
    background-size: cover;      
}
.service-tabs:hover .service-tabs-img7{
    width: 115px;
    height: 95px;
    background: url(./img/service/Дом-р.png);
    background-repeat: no-repeat;
    background-size: cover;  
}

.service-tabs-img8{
    width: 115px;
    height: 95px;
    background: url(./img/service/клининг.png);
    background-repeat: no-repeat;
    background-size: cover;      
}
.service-tabs:hover .service-tabs-img8{
    width: 115px;
    height: 95px;
    background: url(./img/service/клининг-р.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.service-tabs:hover .service-tabs-text{
    color: #E95B99;
}


.service-bottom-button-block{
    width: 1101px;
    height: 54px;
    display: flex;
    justify-content: center;
}
.service-bottom-button input{
    width: 368px;
    height: 54px;
    background-color: white;
    border: 1px solid #E95B99;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
    font-family: FranklinGothicDemiC;
    font-size: 18px;
    line-height: 27px;
    color: #E95B99;
}
.service-bottom-button input:hover{
    background-color: #E95B99;
    color: white;
    border-radius: 100px;
}


.about-company{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 202px;
    padding-top: 99px;
    padding-bottom: 100px;
    background: linear-gradient(127.11deg, rgba(255, 255, 255, 0.63) -19.48%, rgba(255, 255, 255, 0.458564) 60.43%, rgba(255, 255, 255, 0) 115.43%), url(outline-seamless-cleaning-products-and-equipment-vector-8469187.jpg), #D6F0FF;
}
.about-company-text{
    width: 1173px;
    height: 355px;    
    margin-bottom: 54px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 0;     
}
.about-company-text h1{
    font-family: FranklinGothicDemiC;
    font-size: 38px;
    line-height: 0px;
    color: #4D4D4D; 
    margin-bottom: 56px;    
}
.about-company-text-bold{
    font-family: FranklinGothicDemiC;
    font-size: 16px;
    line-height: 19px; 
    font-weight: bold;   
    color: #000000;      
}
.about-company-text-normal{
    font-family: FranklinGothicBookC;
    font-size: 16px;    
    line-height: 18px;
    color: #000000;    
}


.about-company-photos{
    width: 1167px;
    height: 489px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
.strela-left{
    width: 30px;
    height: 30px;
    background: url(./img/стрелка\ лево.png);
    cursor: pointer;
}
.about-company-banner{
    width: 971px;
    height: 489px;
    background:url(./img/slot.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;    
}
.about-company-banner-tabs{
    width: 52px;
    height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
}
.strela-right{
    width: 30px;
    height: 30px;
    background: url(./img/стрелка\ вправо.png);
    cursor: pointer;
}
.strela-left:hover{
    background: url(./img/стрелка\ леворозовая.png)
}
.strela-right:hover{
    background: url(./img/стрелка\ вправорозовая.png)
}

.about-company-tabs{
    width: 1170px;
    height: 276px;
    margin-bottom: 67px;    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.about-company-tabs-block{
    width: 1087.65px;
    height: 188.81;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.about-company-cells1{
    width: 256.75px;
    height: 180px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.about-company-cells-img1{
    width: 98.29px;
    height: 66.78px;
    background: url(./img/авто.png);
    background-repeat: no-repeat;    
    background-position: center;
}
.about-company-cells-text1-1{
    font-family: FranklinGothicDemiC;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #E95B99;
    margin-top: 17px;
    margin-bottom: 44px;
}
.about-company-cells-text2-1{
    font-family: FranklinGothicBookC;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: rgba(77, 77, 77, 0.74);    
}
.about-company-cells2{
    width: 256.75px;
    height: 170.71px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.about-company-cells-img2{
    width: 98.29px;
    height: 66.78px;
    background: url(./img/купон.png);
    background-repeat: no-repeat;    
    background-position: center;
}
.about-company-cells-text1-2{
    font-family: FranklinGothicDemiC;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #E95B99;
    margin-top: 21px;
    margin-bottom: 46px;
}
.about-company-cells-text2-2{
    font-family: FranklinGothicBookC;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: rgba(77, 77, 77, 0.74);
}
.about-company-cells3{
    width: 256.75px;
    height: 198.81px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}
.about-company-cells-img3{
    width: 98.29px;
    height: 68.78px;
    background: url(./img/строитель.png);
    background-repeat: no-repeat;    
    background-position: center;
}
.about-company-cells-text1-3{
    font-family: FranklinGothicDemiC;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #E95B99;
    margin-top: 21px;
    margin-bottom: 35px;
}
.about-company-cells-text2-3{
    font-family: FranklinGothicBookC;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: rgba(77, 77, 77, 0.74);
}
.about-company-cells4{
    width: 256.75px;
    height: 189.15px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.about-company-cells-img4{
    width: 98.29px;
    height: 66.78px;
    background: url(./img/химия\ и\ оборудование.png);
    background-repeat: no-repeat;
    background-position: center;

}
.about-company-cells-text1-4{
    font-family: FranklinGothicDemiC;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #E95B99;
    margin-top: 22px;
    margin-bottom: 28px;
}
.about-company-cells-text2-4{
    font-family: FranklinGothicBookC;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: rgba(77, 77, 77, 0.74);
}

.about-company-button-block{
    width: 1170px;
    height: 54px;
    display: flex;
    justify-content: center;
}
.about-company-button{
    width: 308px;
    height: 54px;
    border: 1px solid #E95B99;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-company-button{
    font-family: FranklinGothicDemiC;
    font-size: 16px;
    line-height: 24px;
    color: #E95B99;
}
.about-company-button:hover{
    background-color: #E95B99;
    color: white;
    cursor: pointer;
}


.comments{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

}
.comments-block{
    width: 1251px;
    height: 551px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.comments-header-block{
    width: 431px;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.comments-header-text{
    font-family: FranklinGothicDemiC;
    font-size: 35px;
    line-height: 24px;
    color: #4D4D4D; 
}
.comments-header-line{
    width: 110px;
    height: 3px;
    background: #42A2D6;
}
.comments-center-block{
    width: 1251px;
    height: 236px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.strela-comments-left{
    width: 30px;
    height: 30px;
    background: url(./img/стрелка\ лево\ синий\ фон.png);
    cursor: pointer;
}
.comments-center-block-left{
    width: 490px;
    height: 236px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.comments-center-block-right{
    width: 490px;
    height: 236px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.strela-comments-right{
    width: 30px;
    height: 30px;
    background: url(./img/стрелка\ право\ синий\ фон.png);
    cursor: pointer;
}
.comments-center-block-text{
    width: 340px;
    height: 236px;
    padding-left: 30px;
    padding-right: 19px;
}
.comments-center-block-text-header{
    font-family: FranklinGothicDemiC;
    font-size: 16px;
    line-height: 13px;
    color: #000000;
}
.comments-center-block-text-date{
    font-family: FranklinGothicBookC;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
    margin-top: 14px;
    margin-bottom: 23px;
}
.comments-center-block-text-comment{
    font-family: FranklinGothicBookC;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
.strela-comments-left:hover{
    background: url(./img/стрелка\ лево\ розовый\ фон.png);
}
.strela-comments-right:hover{
    background: url(./img/стрелка\ право\ розовый\ фон.png);
}


.comments-button-block{
    width: 701px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}
.comments-button{
    width: 308px;
    height: 54px;
    border: 1px solid #E95B99;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.comments-button{
    font-family: FranklinGothicDemiC;
    font-size: 16px;
    line-height: 24px;
    color: #E95B99;
}
.comments-button:hover{
    background-color: #E95B99;
    color: white;
    cursor: pointer;
}

.questions{
    width: 100%;
    height: 490px;
   background: linear-gradient(156.84deg, rgba(255, 255, 255, 0.63) -19.48%, rgba(255, 255, 255, 0.458564) 60.43%, rgba(255, 255, 255, 0) 115.43%), url(outline-seamless-cleaning-products-and-equipment-vector-8469187.jpg), #D6F0FF;
    display: flex; 
    flex-direction: column;   
    align-items: center;
    position: relative;
    
}
.woman-block{
    width: 1330px;
    height: 568px;
    position: absolute;
    left: calc(50% - 655px);
    top: -78px;
    display: flex;
    justify-content: flex-end;
    
}
.woman{
    width: 330px;
    height: 568px;
    
}

.questions-header-block{
    width: 423px;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 61px;
    
    
    
}
.questions-header-text{
    font-family: FranklinGothicDemiC;
    font-size: 35px;
    line-height: 24px;
    color: #4D4D4D; 
}
.questions-header-line{
    width: 110px;
    height: 3px;
    background: #42A2D6;
}
.questions-block-main{
    width: 1170px;
    height: 276px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}
.questions-block{
    width: 659px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.questions-block-text{
    width: 397px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questions-block-text1{
    font-family: FranklinGothicBookC;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: #E95B99;
}
.questions-block-text2{
    font-family: FranklinGothicBookC;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: #E95B99;
    font-weight: bolder;
    margin-top: 11px;
}
.questions-block-numbers-main{
    width: 659px;
    height: 119px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    
      
}
.questions-block-numbers-left{
    width: 347px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions-block-numbers-right{
    width: 298px;
    height: 27px;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    
}
.questions-block-numbers-text{
    font-family: FranklinGothicDemiC;
    font-size: 30px;
    line-height: 46px;
    color: #4A4A4A;
}
.questions-block-numbers-text1{
    font-family: FranklinGothicDemiC;
    font-size: 30px;
    line-height: 46px;
    color: #4A4A4A;
    margin-left: 26px;
}
.questions-block-numbers-right1{
    width: 298px;
    height: 27px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.questions-block-numbers-text-time{
    font-family: FranklinGothicBookC;
    font-size: 16px;
    line-height: 24px;
    color: #42A2D6;
}





.footer{
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: column;
}
.footer-header{
    width: 100%;
    height: 48px;
    background-color: #42A2D6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-header-block{
    width: 1169px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-header-block-mail{
    width: 123px;
    height: 15px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;      
}
.footer-header-block-menu{
    width: 636px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-header-block-menu a{
    font-family: FranklinGothicDemiC;
    font-size: 18px;    
    line-height: normal;
    color: rgb(250, 250, 250);
    text-decoration: none;
}
.footer-header-block-mail-block{
    font-family: FranklinGothicMediumC;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;    
}
.footer-header-block-socnet{
    width: 77px;
    height: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;      
}



.footer-content{
    width: 100%;
    height: 459px;
    background-color: #4A4A4A;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #C4C4C4;
}
.footer-content-block{
    width: 1171px;
    height: 450px;
    display: flex;
    justify-content: space-between;
}

.footer-content-block-left{
    width: 224px;
    height: 323px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-content-block-contacts-main{
    width: 224px;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-content-block-img-1{
    width: 11px;
    height: 15px;
    margin-right: 12px;
}
.footer-content-block-img{
    width: 11px;
    height: 10px;
    margin-right: 12px;
}
.footer-content-block-contacts{
    width: 224px;
    height: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: FranklinGothicBookC;
    font-size: 14px;
    line-height: 21px;
    color: #E5E5E5;
}
.footer-content-block-contacts-main h1{
    font-family: FranklinGothicDemiC;
    font-size: 18px;    
    color: #E5E5E5;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer-content-block-contacts a{
    font-family: FranklinGothicBookC;
    font-size: 14px;
    line-height: 17px;
    color: #E5E5E5;
    text-decoration: none;
}

.footer-content-block-center{
    width: 256px;
    height: 277px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 71px;
}
.footer-content-block-center h1{
    font-family: FranklinGothicDemiC;
    font-size: 18px;    
    color: #E5E5E5;
    margin-top: 0px;
    margin-bottom: 40px;
}
.footer-content-block-center a{
    font-family: FranklinGothicBookC;
    font-size: 14px;
    line-height: normal;
    color: #E5E5E5;
    text-decoration: none;
}
.footer-content-block-right{
    width: 282px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 71px;
}
.footer-content-block-right h1{
    font-family: FranklinGothicDemiC;
    font-size: 18px;    
    color: #E5E5E5;
    margin-top: 0px;
    margin-bottom: 40px;
}
.footer-content-block-right a{
    font-family: FranklinGothicBookC;
    font-size: 14px;
    line-height: normal;
    color: #E5E5E5;
    text-decoration: none;
}



.footer-footer{
    width: 100%;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-footer-block-main{
    width: 100%;
    height: 61px;
    background-color: #4A4A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-footer-block{
    width: 1169px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
.footer-footer-block-text{
    width: 757px;
    height: 35px;
    font-family: FranklinGothicBookC;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}








@font-face {
    font-family: FranklinGothicDemiC;
    src: url(./fonts/FranklinGothicDemiC.otf);
}

@font-face {
    font-family: FranklinGothicBookC;
    src: url(./fonts/FranklinGothicBookC.otf);
}
@font-face {
    font-family: FranklinGothicMediumC;
    src: url(./fonts/FranklinGothicMediumC.otf);
}


